{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>不要心灰意code</title>

    {% bootstrap_css %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <img src="{% static 'images/LOGO.png' %}"
                         class="rounded-circle"
                         width="40"
                         height="40">
        <li class="nav-item">
          <a class="navbar-brand mb-0 h1"
             class="nav-link"
             href="{% url 'post_list' %}">不要心灰意code</a>
        </li>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'post_list' %}">題庫列表</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'learner_list' %}">教材專區</a>
            </li>
 
            {% comment %} <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu shadow bg-white" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li> {% endcomment %}
            
            {% comment %}
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">目前</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">位於</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">題庫列表</a>
            </li>
            {% endcomment %}




 
          </ul>
          {% comment %}
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form> {% endcomment %}
          <div style="margin-right: 170px;">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false">
                  {% if user.is_authenticated %}
                    歡迎， {{ user.username }}
                    {% if user.avatar %}
                      <img src="{{ user.avatar.url }}"
                          alt="User Avatar"
                          class="rounded-circle"
                          width="30"
                          height="30">
                    {% else %}
                      <img src="{% static 'images/anonymous.png' %}"
                          alt="Default Avatar"
                          class="rounded-circle"
                          width="30"
                          height="30">
                    {% endif %}
                  {% else %}
                    未登入帳號
                  {% endif %}
                </a>
                <ul class="dropdown-menu dropdown-menu-end right-aligned shadow bg-white"
                    aria-labelledby="navbarDropdown">
                  {% if user.is_authenticated %}
                    <!-- Display account-related links only if authenticated -->
                    <li>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url 'profile' user.id %}">帳戶管理</a>
                    </li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url 'logout' %}">登出</a>
                    </li>
                  {% else %}
                    <!-- Display login link if not authenticated -->
                    <li>
                      <a class="dropdown-item" href="{% url 'login' %}">登入</a>
                    </li>
                  {% endif %}
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container pt-5">
      {% bootstrap_messages %}

      {% block body %}
      {% endblock body %}
    </div>

    {% bootstrap_javascript %}
  </body>
</html>
