{% extends 'base.html' %}
{% block body %}
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      {% if learner.image %}
      <div class="pic">
        <img src="{{ learner.image.url }}" class="img-thumbnail" alt="{{ learner.title }}" loading="lazy">
      </div>
      {% endif %}
      {% if learner.video %}
      <div class="video-container">
        <video controls width="100%">
          <source src="{{ learner.video.url }}" type="{{ learner.video.content_type }}">
        </video>
      </div>
      {% endif %}
    
    
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ learner.title }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">題目內容</h6>
          <p class="card-text">
            <nav style="--bs-breadcrumb-divider: ',';" aria-label="breadcrumb">
              <ol class="breadcrumb">
                {% for tag in learner.tags.all %}
                  <li class="breadcrumb-item">
                    <a href="{% url 'learner_list' %}?tag_id={{ tag.id }}">{{ tag.name }}</a>
                  </li>
                {% endfor %}
              </ol>
            </nav>
            {% if learner.is_public %}
              {{ learner.content | linebreaks }}
            {% else %}
              內容不公開
            {% endif %}
          </p>
        </div>
        <div class="card-footer text-end">
          <a href="{% url 'learner_update' learner.id %}" class="card-link">編輯</a>
          <a href="{% url 'learner_delete' learner.id %}" class="card-link">刪除</a>
          <a href="{% url 'learner_comment' learner.id %}" class="card-link">留言</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <h5>留言區</h5>
      <hr>
    </div>
  </div>

  {% for learnercomment in learner.learnercomment_set.all %}
    <div class="row mt-2">
      <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <div class="card">
          <h6 class="card-header">第 {{ forloop.counter0 }} 樓</h6>
          <div class="card-body">
            <p class="card-text">
              {{ learnercomment.content }}
            </p>
          </div>

          <div class="card-footer">
            <span class="text-start">{% if learnercomment.user %} {{ learnercomment.user.username }} {% endif %} - 於{{ learnercomment.create_times|date:"Y年m月d日 H:i:s" }}發佈</span>
            <div class="text-end">
              {% if learnercomment.user == request.user %}
                <a href="{% url 'learnercomment_update' learnercomment.id %}" class="card-link">編輯</a>
                <a href="{% url 'learnercomment_delete' learnercomment.id %}" class="card-link">刪除</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

{% endblock body %}