{% extends 'base_login.html' %}
{% block body %}



<div class="row">
  <div class="col-md-12">
    <h1>登入帳號</h1>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form role="form" action="{% url 'login' %}" method="POST">
          {% csrf_token %}
          <form class="container-fluid">
            <div class="input-group">
              <span class="input-group-text" id="InputUsername">使用者帳號：</span>
              <input type="uname" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="InputUsername">
            </div>
            <div class="input-group mt-3">
              <span class="input-group-text" id="InputPassword">密碼輸入：</span>
              <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="InputPassword">
            </div>
            <div class="form-check mt-3">
              <input class="form-check-input" type="checkbox" id="confirmCheck">
              <label class="form-check-label" for="confirmCheck">確認要進行登入</label>
            </div>
            <button type="submit" class="btn btn-primary mt-3">登入</button>
          </form>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock body %}
