{%load static%}
{% block body %}
<!DOCTYPE html>
<html lang="UTF-8">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>登入</title>
  <link rel="preconnect" href="https://fonts.googleapis.com"> 
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/login.css' %}"/>
</head>
<body>
    <div class="section-login">
        <div class="banner">
            <img src="{% static 'images/LOGO.png' %}">
        </div>

        <div class="wrap">
            <form>
                <div>
                    <input class="form-item" type="text" name="email" id="email" placeholder="電子郵件">
                    <div class="message" id="email-message"></div>
                </div>
                <div>
                    <input class="form-item" type="password" name="password" id="password" placeholder="密碼">
                    <div class="message" id="password-message"></div>
                </div>
                <label class="checkbox"><span style="color:#808080;">記住我</span>
                  <input type="checkbox" id="remember_me">
                  <span class="checkmark"></span>
                </label>
                <div class="form-item button" onclick="userLogin()">
                    <p>登入</p>
                </div>
                <div class="text-item">
                    <span>還沒有帳號嗎？&ensp;</span>
                    <a class="text-strong" href="\signup">註冊</a>
                </div>
            </form>
        </div>

    </div>
    <script>
        $(() => {
            if (localStorage.checkbox && localStorage.checbox !== '') {
                $('#remember-me').attr('checked', 'checked');
                $('#email').val(localStorage.email);
            } else {
                $('#remember-me').removeAttr('checked');
                $('#email').val('');
            }
        })
    </script>
{% endblock body %}
