{% extends 'base.html' %}
{% block body %}
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      {% if post.image %}
      <div class="pic">
        <img src="{{ post.image.url }}" class="img-thumbnail" alt="{{ post.title }}" loading="lazy">
      </div>
      {% endif %}
      {% comment %}
      {% if post.video %}
      <div class="video-container">
        <video controls width="100%">
          <source src="{{ post.video.url }}" type="{{ post.video.content_type }}">
        </video>
      </div>
      {% endif %}
      {% endcomment %}
    
    
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">題目內容</h6>
          <p class="card-text">
            <nav style="--bs-breadcrumb-divider: ',';" aria-label="breadcrumb">
              <ol class="breadcrumb">
                {% for tag in post.tags.all %}
                  <li class="breadcrumb-item">
                    <a href="{% url 'post_list' %}?tag_id={{ tag.id }}">{{ tag.name }}</a>
                  </li>
                {% endfor %}
              </ol>
            </nav>
            {% if post.is_public %}
              {{ post.content | linebreaks }}
            {% else %}
              內容不公開
            {% endif %}
          </p>
        </div>
        <div class="card-footer text-end">
          {% comment %} <a href="{% url 'post_update' post.id %}" class="card-link">編輯</a>
          <a href="{% url 'post_delete' post.id %}" class="card-link">刪除</a> {% endcomment %}
          {% if user.is_authenticated %}
          <a href="{% url 'post_comment' post.id %}" class="card-link">留言</a>
          {% else %}
          <p>若要發佈留言，請先<a href="{% url 'login' %}">登入</a></p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <h5>留言區</h5>
      <hr>
    </div>
  </div>

  {% for comment in post.comment_set.all %}
    <div class="row mt-2">
      <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <div class="card">
          <h6 class="card-header">第 {{ forloop.counter0 }} 樓{% if comment.user %} {{ comment.user.username }} {% endif %}</h6>
          <div class="card-body">
            <p class="card-text">
              {{ comment.content }}
            </p>
          </div>
          <div class="card-footer text-end">
            <a href="{% url 'comment_update' comment.id %}" class="card-link">編輯</a>
            <a href="{% url 'comment_delete' comment.id %}" class="card-link">刪除</a>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

{% endblock body %}