{% extends 'base.html' %}
{% block body %}
  <div class="row">
    <div class="col">
      <h1>題庫列表</h1>
    </div>
    <div class="col text-end">
      {% if user.is_authenticated %}
      <a class="btn btn-outline-success" href="{% url 'post_create' %}">發佈新題目</a>
      {% else %}
      <p>請先<a href="{% url 'login' %}">登入</a>教師帳號以發佈新內容</p>
      {% endif %}
    </div>
    <form class="d-flex" method="GET" action="{% url 'post_list' %}">
      <input class="form-control me-2"
             type="search"
             placeholder="Search"
             aria-label="Search"
             name="Search_query"
             value="{{ request.GET.Search_query }}">
             <select class="form-select me-2" name="difficulty">
              <option value="" {% if not selected_difficulty %}selected{% endif %}>-- 所有難度(預設) --</option>
              {% for difficulty, label in difficulties %}
                <option value="{{ difficulty }}" {% if difficulty == selected_difficulty %}selected{% endif %}>{{ label }}</option>
              {% endfor %}
            </select>
            <select class="form-select me-2" name="tag_id">
            <option value="all" {% if not selected_tag %}selected{% endif %}>-- 所有標籤(預設) --</option>
              {% for tag in all_tags %}
                  <option value="{{ tag.id }}" {% if selected_tag and selected_tag.id == tag.id %}selected{% endif %}>{{ tag.name }}</option>
              {% endfor %}
          </select>

      <button class="btn btn-outline-success" type="submit">search</button>
    </form>
    <div class="col">
      <a class="btn btn-outline-primary {% if request.GET.sort_by == 'title_number_desc' %}active{% endif %}"
         href="{% url 'post_list' %}?{% if request.GET.sort_by == 'title_number_desc' %}sort_by=title_number_asc{% else %}sort_by=title_number_desc{% endif %}">
        標題數字排序
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      {% if posts %}
        <table class="table">
          <thead>
            <tr>
              <th scope="col">標題</th>
              <th scope="col">發佈者</th>
              <th scope="col">是否公開</th>
              <th scope="col">難度</th>
              <th scope="col">標籤</th>
              <th scope="col">詳情</th>
            </tr>
          </thead>
          <tbody>
            {% for post in posts %}
              <tr>
                <td>{{ post.title }}</td>
                <td>{% if post.user %} {{ post.user.username }} {% endif %}</td>
                <td>{{ post.is_public }}</td>
                <td>{{ post.difficulty }}</td>
                <td>{{ post.tags.all|join:', ' }}</td>
                <td>
                  <a class="btn btn-secondary btn-sm"
                     href="{% url 'post_detail' post.id %}">查看</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p class="text-center">未找到匹配的结果。</p>
      {% endif %}
    </div>
  </div>
{% endblock body %}
