{%load static%}
{% block body %}
<!DOCTYPE html>
<html lang="UTF-8">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>註冊</title>
  <link rel="preconnect" href="https://fonts.googleapis.com"> 
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/signup.css' %}"/>
</head>
<body>
  <div class="section-login">
      <div class="banner">
          <img src="{% static 'images/LOGO.png' %}">
      </div>

  <div class="wrap">
    {% comment %} 如果只是要跳轉頁面用method="GET",其他都用method="POST"  {% endcomment %}
    <form action="{% url 'signup' %}" method="POST">
      {% csrf_token %}
      <div>
        <style>h1{
          font-size: 28px; 
          color:#838282; 
          text-align: center;}
        </style>
        <h1>不要心灰意code</h1>
      </div>
      <div>
        <input class="form-item" type="text" name="fname" id="fname" placeholder="使用者帳號">
        <div class="fname" id="fname"></div>
      </div>

      <div>
        <input class="form-item" type="text" name="uname" id="uname" placeholder="名字">
        <div class="uname" id="uname"></div>
      </div>

      <div>
        <input class="form-item" type="text" name="email" id="email" placeholder="電子郵件">
        <div class="message" id="email-message"></div>
      </div>

      <div>
        <input class="form-item" type="password" name="password" id="password1" placeholder="密碼">
        <div class="message" id="password-message"></div>
      </div>

      {% comment %} <div>
        <input class="form-item" type="password" name="password2" id="password2" placeholder="再次確認密碼">
        <div class="message" id="password-message"></div>
      </div> {% endcomment %}

      <button class="form-item button" type="submit">註冊</button>
      {% comment %} <div class="form-item button" onclick="userLogin()">
        <p>註冊</p>
      </div> {% endcomment %}

      <div class="text-item">
        <span>已經有帳號了嗎？&ensp;</span>
        <a class="text-strong" href="/login">登入</a>
      </div>

      <div id="message" class="message"></div>


    </form>
    {% comment %} <script>
      var form = document.querySelector('form');
      form.addEventListener('submit', function(event) {
        var password1 = document.querySelector('#password1').value;
        var password2 = document.querySelector('#password2').value;
        if (password1 !== password2) {
          event.preventDefault();
          alert('兩次輸入的密碼不一致，請重新輸入！');
        }
      });
    </script> {% endcomment %}
    
    <script>
      // 获取消息元素
      var messageElement = document.getElementById("message");
    
      // 模拟注册成功或失败
      var registrationSuccess = true; // 在实际应用中，根据您的逻辑来设置此值
    
      if (registrationSuccess) {
        // 注册成功的消息
        messageElement.innerText = "注册成功！";
        messageElement.style.color = "green"; // 设置消息颜色
      } else {
        // 注册失败的消息
        messageElement.innerText = "注册失败，请重试。";
        messageElement.style.color = "red"; // 设置消息颜色
      }
    </script>
    
  </div>
{% endblock body %}